.banner {
	height: 126px;
}

.article {
	border: 2px solid #84432D;
	background-color: white;
	margin: 55px 10px 40px;
	padding: 30px 20px;
	position: relative;
}

.article__h1 {
	background-color: white;
	border-radius: 25px;
	border: 2px solid #84432D;
	display: inline-block;
	color: #84432D;
	font: 25px Sitka Text, serif;
	padding: 8px 20px;
	position: absolute;
	top: -28px;
	left: 40px;
}

/* свернуть */

[type="checkbox"] {
	display: none;
}

.project,
.uhod {
	height: 136px;
	overflow: hidden;
}

#one:not(:checked)~.close,
#two:not(:checked)~.close {
	display: none;
}

#one:checked~.project,
#two:checked~.uhod {
	height: auto;
}

#one:checked~.open,
#two:checked~.open {
	display: none;
}

[for="one"],
[for="two"] {
	border-radius: 15px;
	background-color: #E85A5A;
	padding: 3px 15px;
	font: 20px Verdana, serif;
	color: white;
	position: absolute;
	bottom: -16px;
	right: 10px;
	cursor: pointer;
}

@media screen and (max-width: 730px) {
	.banner {
		height: 60px;
	}
}

@media screen and (max-width: 505px) {
	.article {
		margin: 55px 5px 40px;
		padding: 20px 0;
	}
	[for="one"],
	[for="two"] {
		padding: 3px 10px;
	}
	.article__h1 {
		font: 20px Sitka Text, serif;
		padding: 8px 10px;
		position: absolute;
		top: -23px;
		left: 5px;
	}
	.project,
	.uhod {
		height: 160px;
	}
}