.banner {
	height: 126px;
}

.contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background-color: #FBF5f5;
}

.contacts__text p {
	color: #84432D;
	font: 20px/1.6 Verdana, serif;
	max-width: 450px;
	margin: 20px;
}

.contacts__text h1 {
	color: #84432D;
	font: 30px Verdana, serif;
	max-width: 450px;
	margin: 30px 20px 0;
}

.contacts__link {
	color: #E85A5A;
}

.contacts__img {
	max-width: 350px;
	margin: 30px;
}

@media screen and (max-width: 730px) {
	.banner {
		height: 60px;
	}
	.contacts__text p {
		margin: 10px;
	}

	.contacts__text h1 {
		margin: 10px;
	}

	.contacts__img {
		max-width: 100%;
		margin: 20px;
	}
}