.banner__slogan {
	text-align: center;
	color: #fff;
	font: 30px/1.6 "Sitka Text", serif;
	padding-top: 520px;
	text-transform: uppercase;
}

.manufactured {
	background-color: #F2DAA9;
	padding: 30px 10px;
	margin: 0;
}

.manufactured__text {
	text-align: center;
	font: 30px/1.3 Verdana, sans-serif;
	color: grey;
}

.manufactured__text:before {
	content: '';
	display: block;
	width: 25%;
	height: 3px;
	background-color: grey;
	margin: 0 auto 15px;
}

.one__figure {
	float: right;
	width: 380px;
	margin: 30px 10px 30px 30px;
	position: relative;
}

.one__figcaption {
	height: 70px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	color: #84432D;
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	bottom: 0;
	font: italic 18px "Verdana", sans-serif;
}

.aside-list {
	background-color: #E85A5A;
	padding: 15px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	clear: both;
}

.aside-list__item {
	width: 156px;
	height: 220px;
	position: relative;
	margin: 15px;
}

.aside-list__radius {
	height: 150px;
	width: 150px;
	background-color: white;
	border: 3px solid #84432D;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 95px;
}

.icon-tool {
	font-size: 120px;
}

.aside-list__text {
	text-align: center;
	color: white;
	font: 23px Verdana, serif;
	position: absolute;
	bottom: 0;
}

.two__img-1 {
	width: 380px;
	margin: 30px 10px 30px 30px;
	float: right;
}

.two__img-2 {
	width: 380px;
	margin: 15px 10px 30px 30px;
	float: right;
}

.two__bold {
	font-weight: bold;
}

@media screen and (max-width: 950px) {
	.h1 {
		text-align: center;
		display: block;
		width: 90%;
		margin: 30px auto;
	}
	.foto-1 {
		margin: 13px 30px;
	}
	.foto-2 {
		margin: 13px 30px;
	}
}

@media screen and (max-width: 730px) {
	.banner {
		height: 500px;
		background-position: center -200px;
	}
	.banner__slogan {
		padding-top: 270px;
	}
	.one__figure {
		margin: 0 auto 20px;
		float: none;
		max-width: 500px;
	}
	.two__img-1 {
		margin: 0 auto 20px;
		float: none;
		max-width: 500px;
	}
	.two__img-2 {
		margin: 15px auto;
		float: none;
		max-width: 500px;
	}
}

@media screen and (max-width: 500px) {
	.one__figure {
		margin: 0 auto 20px;
		width: 100%;
	}
	.two__img-1 {
		margin: 0 auto 20px;
		width: 100%;
	}
	.two__img-2 {
		margin: 15px auto;
		width: 100%;
	}
}