body {
	background-color: #FBF6F6;
	font: 20px/1.6 "Verdana", sans-serif;
	color: grey;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 3px 3px #727272;
	box-shadow: 0 0 3px 3px #727272;
	overflow: hidden;
	position: relative;
}

.wrap {
	margin: 0 20px;
}

.header {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 99;
}

.logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 80px;
	background-color: rgba(255, 255, 255, 0.7);
	position: relative;
}

.logo__link {
	font: bold 40px "Sitka Text", serif;
	color: #84432D;
	text-decoration: none;
	text-transform: uppercase;
}

.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	list-style: none;
	padding: 3px 0;
}

.menu li {
	width: 17%;
}

.menu__link {
	background-color: rgba(255, 255, 255, 0.7);
	color: #84432D;
	font: 25px "Sitka Text", serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 40px;
}

.menu__link_active,
.menu__link:hover {
	background-color: #fff;
	color: #E85A5A;
}

.banner {
	height: 750px;
	background-image: url(../img/fon.jpg);
	background-position: center top;
	overflow: hidden;
}

.h1 {
	display: inline-block;
	text-transform: uppercase;
	color: #E85A5A;
	font: 30px/1.6 Sitka Text, serif;
	width: 50%;
	background-color: white;
	border: 2px solid grey;
	border-radius: 5px;
	padding: 10px;
	margin: 30px 10px;
}

strong {
	font-weight: normal;
	color: rgb(105, 105, 105);
}

p,
.ul {
	margin: 0 10px 30px 10px;
}

.ul {
	padding-left: 30px;
	list-style-type: disc;
}

.img {
	width: 100%;
}

.a {
	color: #E85B5B;
	text-decoration: underline;
}

/* burger */

.menu-link-b {
	display: none;
	width: 36px;
	height: 36px;
	background-color: #fff;
	border-radius: 5px;
	border: 2px solid #84432D;
	position: absolute;
	right: 15px;
	top: 12px;
}

.bur,
.bur:before,
.bur:after {
	display: block;
	height: 2px;
	width: 24px;
	background-color: #84432D;
	position: absolute;
	left: 50%;
	margin-left: -12px;
	top: 50%;
	margin-top: -1px;
}

.bur:before {
	content: '';
	margin-top: -8px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.bur:after {
	content: '';
	margin-top: 6px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.menu-link-b_active .bur {
	background: transparent;
}

.menu-link-b_active .bur:before {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
	margin-top: -1px;
}

.menu-link-b_active .bur:after {
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	margin-top: -1px;
}

.menu-b {
	display: none;
	background-color: rgba(0, 0, 0, 0.657);
	position: absolute;
	top: 60px;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	right: -100vw;
}

.menu-b_active {
	right: 0;
}

.menu-b .ul-b {
	list-style: none;
	padding: 0;
}

.menu-b .ul-b .li-b a {
	font: 20px "Verdana", sans-serif;
	color: #84432D;
	background-color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 50px;
	width: 100%;
	margin: 0 0 1px;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.menu-b .ul-b a:hover {
	background-color: rgb(255, 225, 225);
}

/* end */

.footer {
	height: 50px;
	background-color: #E85B5B;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	clear: both;
}

.copy {
	margin-left: 30px;
	font: italic 16px "Verdana", sans-serif;
	color: white;
	clear: both;
}

.up {
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	position: fixed;
	z-index: 99;
	display: none;
	bottom: 1px;
	right: 8%;
}

@media screen and (max-width: 730px) {
	.logo {
		-webkit-box-pack: right;
		-ms-flex-pack: right;
		justify-content: right;
		height: 60px;
	}
	.logo__link {
		font: bold 30px "Sitka Text", serif;
		margin-left: 10px;
	}
	nav {
		display: none;
	}
	.menu-b,
	.menu-link-b {
		display: block;
	}
	.wrap {
		margin: 0;
	}
	.h1 {
		font: 25px/1.6 Sitka Text, serif;
		width: 90%;
		padding: 5px;
		margin: 20px auto;
	}
}